.skilss{
    background:var(--priamry-color, #030712);
    padding-top: 96px;
    padding-bottom: 96px;
    padding-left: 80px;
    padding-right: 80px;
}

.skills_h5{
    color: var(--cloudy-sky-gray, #D1D5DB);
    margin: auto;
    width: 75px;
    height: 25px;
    border-radius: 12px;
    background: var(--wet-asphalt-gray, #374151);
    padding: 4px 10px 4px 10px;
    cursor: pointer;
    margin-bottom: 16px;
}

.skilss_hero_text p{
    margin-top: 16px;
    margin-bottom: 48px;
}

.skilss_hero_text{
    text-align: center;
    color:var(--cloudy-sky-gray, #D1D5DB) ;
}

.skills_icons_first_row{
    display: flex;
    justify-content: space-around; 
    margin-bottom: 48px;
}

.skills_icons_row_end{
    display: flex;
    justify-content: space-around;
}

.icons_cursor{
    cursor: pointer;
}



